#base {
	-fx-background-image: url('../resources/images/background-cluedo.png');
	/*-fx-background-repeat: repeat;*/ 
	-fx-background-size: 100% 100%;
	-fx-background-position: center center;
	/*-fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);*/
} 
/*#textAreaCrediti{
	text-area-background: black;
	-fx-text-inner-color: white;
	-fx-text-box-border: none;
}
#textAreaCrediti .content {
    -fx-background-color: text-area-background;
}
#textAreaCrediti *.text {
    -fx-text-alignment: center;
}

#listViewGiocatori, #listViewColori, #listViewCarteIniziali {
	-fx-background-color: black;
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
	-fx-border-color: black;
	-fx-background-insets: 0;
	-fx-padding: 0;
}
#listViewGiocatori, #listViewColori, #listViewCarteIniziali .list-cell{
	-fx-background-color: black;
	-fx-text-fill: white;
	-fx-border-color: black;
	-fx-padding: 0;
}
.list-view .list-cell:even {
	-fx-background-color: black;
	-fx-text-fill: white;
}
.list-view .list-cell:odd {
	-fx-background-color: black;
	-fx-text-fill: white;
}*/

.spinner:maxvalue .increment-arrow-button {
	-fx-background-color: -fx-outer-border, #999999;
}
.spinner:minvalue .decrement-arrow-button {
	-fx-background-color: -fx-outer-border, #999999;
}

.list-view {
	-fx-background-color: rgba(0,0,0,0.0);
}
.list-view .list-cell:even {
	-fx-background-color: rgba(0,0,0,0.0);
}
.list-view .list-cell:odd {
	-fx-background-color: rgba(0,0,0,0.0);
}

.button {
	-fx-background-size: 30px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 50%;
}
#back {
	-fx-background-image: url('../resources/icons/icon_back_dark.png');
}
#settings {
	-fx-background-image: url('../resources/icons/icon_settings_dark.png');
}
#info {
	-fx-background-image: url('../resources/icons/icon_info_dark.png');
}
#lobbySettings {
	-fx-background-image: url('../resources/icons/icon_settings_dark.png');
}
#kick {
	-fx-background-size: 25px;
	-fx-background-image: url('../resources/icons/icon_kick_dark.png');
}
#ban {
	-fx-background-size: 25px;
	-fx-background-image: url('../resources/icons/icon_ban_dark.png');
}
#host {
	-fx-background-size: 25px;
	-fx-background-repeat: no-repeat;
    -fx-background-position: 50%;
	-fx-background-image: url('../resources/icons/icon_host_yellow.png');
	/*-fx-background-radius: 30;
	-fx-background-color: lime;*/
}