#base{
	-fx-background-image: url("../../Altro/background-cluedo.png");
	/*-fx-background-repeat: repeat;*/ 
	-fx-background-size: 100% 100%;
	-fx-background-position: center center;
	/*-fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);*/
}